services:
  - type: web
    plan: free
    name: django-app
    runtime: python
    repo: https://github.com/rubyrayjuntos/rswan-portfolio.git
    buildCommand: './build.sh'
    startCommand: 'python -m http.serve:8080"